@function pxTorem($px,$base:20){
	@return ($px / $base ) * 1rem;
}
body{
	color:#666;
	border-radius:3px;
	display:flex;
    font-size: pxTorem(14);
    
	.name{
		color:'red';
	}
}
.text{
	&.red{
		color:red;
	}
	&.zb{
		font-size: pxTorem(16);
	}
	&.fzb{
		font-size: pxTorem(16);
		margin:0 pxTorem(10);
	}
	&.green{
		color:green;
	}
}
.scroll-content{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #f1f1f1;
}
h1,h2,h3,h4,h5{
    margin: 0;
    line-height: 1.5;
    color: #666;
}
h3{
    font-size: .7rem;
    font-weight: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}
.row.horizontal{
    flex-wrap: wrap;
    align-items: flex-start;
    >.col{
        width: 33.33%;
        flex: auto;
        padding-bottom: pxTorem(15);
        padding-top: pxTorem(15);
    }
    &:after{
        content:'';
        display: table;
        clear: both;
    }
}
.row{
    background-color: #fff;
    align-items: center;
    +.row{
        margin-top:inherit;
        padding: inherit
    }
}
.list:last-child.card{
    margin-bottom: 0;
}
.card{
    margin-left: 0;
    margin-right: 0;
}
.breed{
    .row{
        align-items: center;
    }
}
.footer-row{
    padding: 0;
    .col{
        padding: 0;
    }
}
.col{
    &.lg{
        width: pxTorem(200);
    }
    align-items: center;
}
.list{
    margin-bottom: 0;
}
.list-line{
    font-size: .7rem;
    h4{
        font-weight: normal;
        font-size: .7rem;
    }
}
.tag{
    font-size: .5rem;
    background-color: red;
    color: #fff;
    vertical-align: 10%;
    border-radius:0.15rem;
    padding:0 pxTorem(2);
    margin-right: pxTorem(2);
    margin-left: pxTorem(2);
    border:1px solid red;
    font-weight: normal;
}
.list-horizontal-block{
    &:after{
        clear:both;
        content:'';
        display: table;
    }
    li{
        float:left;
        display: inline-block;
        margin:pxTorem(10);
        padding:pxTorem(3) pxTorem(5);
    }
}
.list-horizontal-title{
    margin-top: pxTorem(10);
    font-weight: 500;
    line-height: 2;
    border-bottom: 1px solid #EFEFEF;
}
.data-views{
    background: url(/images/bg_datas.jpg) center center;
    background-size: 100% 100%;
    ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #eee;
    padding: .3rem;
    .col-50{
        padding: 20px;
    }
    &.row{
        align-items: flex-start;
    }
    a{
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction:column;
        background-color: rgb(2, 132, 208);
        color: #fff;
        border-radius: 5px;
        i{
            display: block;
            flex: 1;
            font-size: 60px;
        }
    }
}
.dialog-feedBack{
    display: flex;
    margin-top: 10px;
    align-items: center;
    &:after{
        display: table;
        content: '';
        clear: both;
    }
    img{
        width: 40px;
        border-radius: 50%;
        float: left;
        
    }
    &.left{
        img{
            float: right;
            margin-right: 15px;
            margin-left: 10px;
        }
        span{
            &:before{
                left: -8px;
                border-width: 4px 8px 4px 0px;
                border-color: transparent #fff transparent #fff;
            }
        }
    }
    &.right{
        text-align: right;
        img{
            float: left;
            margin-right: 10px;
        margin-left: 15px;
        }
        span{
            &:before{
                right: -8px;
                border-width: 4px 0px 4px 8px;
                border-color: transparent #fff transparent #fff;
            }
        }
    }
    .dialog-content{
        flex: 1;
        span{
            text-align: left;
            background-color: #fff;
            border-radius: 8px;
            display: inline-block;
            padding: 8px;
            position: relative;
            &:before{
                position: absolute;
                display: block;
                width: 0;
                height: 0;
                content: '';
                border-style: solid;
                top: 50%;
                margin-top: -4px;
                
            }
        }
    }
}

.produce-header-tab button{
    text-align: center;
}
.report-view{
    margin-bottom: 52px;
}
.report-cards{
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #eee;
    padding: .3rem;
    .col-50{
        padding: .3rem;
    }
    .report-img{
        width: 100%;
        height:80px;
        overflow: hidden;
        img{
            width: 100%;
            height:100%;
        }
    }
    h3{
        font-size: .6rem;
        padding: .3rem 0;
        height: 52px;
    }
    a{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #fff;
        padding: .5rem;
    }
    .report-card-price{
        text-align: left;
        color: red;
    }
    .report-card-footer{
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: center;
        text-align: left;
        display: -webkit-flex;
        font-size: .6rem;
        color: #888;
    }
    .report-card-icon{
        font-size: .5rem;
        background: #eee;
        padding: .2rem .3rem;
        color: #0894ec;
        border-radius: 5px;
    }
}

.free-views{
    overflow: auto;
    img{
        float: left;
        width: 100%;
    }
}
.charge-views{
    overflow: auto;
    padding-bottom: 2.5rem;
}
.charge-header{
    position: relative;
    img{
        width: 100%;
    }
    .title-bar{
        display: flex;
        display: -webkit-flex;
        font-weight: 900;
        color: white;
        width: 100%;
        height: 42px;
        position: absolute;
        z-index: 1;
        bottom: 19px;
        left: 0;
        background-color: rgba(255,255,255,0.5);
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .title-text{
            opacity: 1;
            line-height: 42px;
            margin-right: 10px;
            font-size: .8rem;
        }
        .title-logo{
            width: 1.8rem;
            height: 1.8rem;
        }
    }

}
.charge-main .item{
    padding-left: 1.5rem;
    color: #0a8ddf;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.charge-main .item:before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    background: #0a8ddf;
    margin-right: 10px;
}
.charge-main-p{
    text-indent: 25px;
    margin: 1em 0;
    padding: 0rem 1.5rem;;
    line-height: 1.7;
    font-size: .75rem;
}
.charge-main-content{
    font-size: .75rem;
    padding: .6rem 1.5rem 0 1.5rem;
    i{
        color: #0a8ddf;
        margin-right: 10px;
    }
}
.charge-footer {
    height: 2rem;
    line-height:2rem;
    a{
        display: block;
        font-size: .9rem;
        text-align: center;
        color: red;
        border: 2px solid red;
        background:#fff;
    }
    .buy{
        background: red;
        color: #fff;
    }
}
.drugContent-header{
    width: 59%;
    margin: 0 auto;
    margin-bottom: 9px;
    img {
        width: 100%;
        margin-top: 1.25rem;
    }
}
.drugContent-main {
    padding-left: 1.5rem;
}
.drugContent-main-title{
    font-size: .80rem;
    font-weight: 600;
    margin: 5px 0;
    color: #0a8ddf;
}
.message{
    line-height: 25px;
}
.drugContent-main-btn{
    margin-top: 10px;
    span{
        font-size: .7rem;
        color: white;
        padding: .3rem .4rem;
        font-weight: 800;
        border-radius: 5px;
        margin-right: 5px;
        background-color: #0a8ddf;
    }
}
.hl-content .list .item{
    padding: 20px 16px;
}
.noDataTip{
  text-align: center;
  line-height: 2;
  font-size: .7rem;
  padding-top:.5rem;
  color: lighten(#000,65%);
  >i{
    display: block;
    color: lighten(#000,75%);
  }
}
//home
.home{
    overflow-y: auto;
}
.main{
    overflow-x: hidden;
    margin-bottom: 52px;
}
.slick-list{
    max-height: 236px;
}
.slick-slider{
    overflow: hidden;
}
.slick-slide img{
    width: 100%;
    height: 100%;
}
.slick-dots li{
    top: -25px;
}
.slick-dots li button:before{
    font-size:.5rem
}
.new_report{
    a{
        display: flex;
        padding: .6rem;
    }
}
.item-left{
    float: left;
    height: 87px;
    img{
        display: block;
        width: 7.5rem;
        height: 100%;
    }
}
.item-right{
    float: left;
    width: 9.2rem;
    margin-left: 16px;
    h3{
        font-size: .6rem;
        margin-top: 5px;
        -webkit-line-clamp: 1;
        white-space: initial;
    }
    p{
        font-size: .6rem;
        line-height: 2.5;
        color:#ef473a;
    }
    .item-right-footer{
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: center;
        text-align: left;
        display: -webkit-flex;
        font-size: .6rem;
        color: #888;
        .item-icon{
            font-size: .45rem;
            background: #eee;
            padding: .2rem .3rem;
            color: #0894ec;
            border-radius: 5px;
        }
    }
}
.column{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:9px 12px 12px 12px;
    a{
        float: left;
        font-size: .55rem;
        color: #000;
        text-align: center;
    }
    img{
        display: block;
        width: 45px;
        height: 45px;
        margin: 0 auto 8px auto;
    }
}
.home-item-title{
    font-size: .6rem;
    color: #0894ec;
    strong{
        font-weight: 200;
    }
    img{
        width: 11px;
        vertical-align: -2px;
        margin-left: 3px;
    }
    .hot-title{
        width: 0.95rem;
    }
}
.bg-fff{
    background: #fff;
    a{
        border:1px solid #eee;
    }
    img{
        width: 100%
    }
}

//vip
.vip{
    overflow: auto;
    color: #fff;
   img{
       width: 100%;
       display: block;
   }
    .banner{
        width: 100%;
        position: relative;
        height: 8.25rem;
        display: block;
        overflow: hidden;
        img{
            height: inherit;
        }
        .close{
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 1;
            width: 1.3rem;
            height: 1.3rem;
            border-width: 0;
            background: url(/images/icon_close_vip.png) center center no-repeat;
            background-size: contain;
        }
    }
    .level{
        padding: 0 1.2rem;
        font-size: 1.2rem;
        padding-top: 1rem;
        background-color: #fff;
        text-align: center;
        padding-bottom: 2rem;
        h3{
            color:#f6a416;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        button{
            text-align: center;
            background-color: #f6a416;
            color: #fff;
            border-width: 0;
            padding: 0.1rem 0.2rem;
            font-size: 0.6rem;
            border-radius: 5px;
        }
        img{
            width: 45px;
            vertical-align: middle;
            display: inline-block;
        }
        .row{
            padding:0
        }
        span{
            vertical-align: middle;
            display: inline-block;
            font-size: .7rem;
            color: #f6a416;
            font-weight: 600;
            width: 100%;
            padding-left: 10px;
            text-align: left;
        }
    }
    .pk{
        padding: 0 1rem;
        margin-bottom: 20px;
        background-color: #fff;
    }
}
@media screen and (max-width:322px){
    .vip  .level span{
        font-size: .6rem;
    }
    .vip .level button{
        font-size: 0.55rem;
        padding: 0.1rem 0.1rem;
    }
}
.bid-list{
    .card{
        margin-top: 0px;
        margin-bottom: 10px;
        padding: 0 12px;
        h2{
            padding: 7px 0;
            font-size: .8rem;
            border-bottom: 1px solid #eee;
            display: flex;
            align-items: center;
            img{
                display: inline-block;
                width: 19.5px;
            }
        }
    }
}
.market-list{
    overflow: hidden;
    padding-left: 12px;
    padding-right: 4px;
    margin: 10px 0;
    .list-left{
        float: left;
        p{
            font-size: .6rem;
            margin: 0;
        }
    }
    .list-right{
        float: right;
    }
    .btn{
        background: #387ef5;
        color: #fff;
        font-size: 0.45rem;
        padding: 5px 3px;
        margin-top: 34px;
        border-radius: 5px;
    }
}
.market-price{
    height: 40px;
    border-color: #eee;
    border-style: solid;
    border-width: 1px 0;
    color: #387ef5;
    padding-left: 12px;
    .col-50{
        font-size: .6rem;
    }
}
.price-list{
    margin-top: 8px;
    padding-left: 12px;
    .list-left {
        width: 50%;
        p{
            font-size: .6rem;
        }
    }
    .list-right{
        width: 50%;
        font-size: .6rem;
    }
}
.more{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #387ef5;
    display: block;
    z-index: 9;
    text-align: center;
    font-size: .6rem;
    color: #fff;
    padding: 1px;
    .icon{
        font-size: 3.5em;
    }
}
.more-content{
    width: 100%;
    background:#000;
    border-radius: 5px;
    text-align: left;
    position: fixed;
    padding: 10px 10px 0 10px;
    z-index:99;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0,0,0,0.4);
    overflow-y: auto;
    .more-footer{
        position: absolute;
        bottom: 0;
        left: 0;
        min-height: 150px;
        width: 100%;
        background: white;
        padding-bottom: 10px;
        .column{
            flex-wrap: wrap;
            text-align: center;
            justify-content: inherit;
            a{
                width: 25%;
                margin-top: 20px;
                text-align: center;
            }
            .price-icon{
                width: 53px;
                height: 49px;
                margin-bottom: 3px;
            }
        }
    }
}
.bidList-view{
    .item{
        border-top: 1px solid #eee;
        margin-top: 0;
        margin-bottom: 10px;
        padding: 16px;
        p{
            white-space: normal;
        }
    }
    .title{
        font-size: 16px;
        padding: 7.5px 16px;
        background: #f6feff;
    }
}
.product-view{
    h2{
        font-size: 16px;
        padding: 7.5px 16px;
        background: #f6feff;
    }
    .card{
        margin-top: 0;
        padding: 0 16px;
        margin-bottom: 10px;
        .list {
            padding: 10px 0;
            li{
                padding: 2px 0;
            }
        }
    }
    .btn{
        background: #387ef5;
        color: #fff;
        font-size: 0.45rem;
        padding: 5px 3px;
        border-radius: 5px;
        margin: 5px 0;
        display: inline-block;
    }
}
.box{
    position: fixed;
    bottom: 200px;
    right: 0;
    width: 30px;
    z-index: 2;
    .box_photo{
        opacity: .7;
    }
    img{
        width: 100%;
        float: left;
    }
}
.boxContont{
    position: relative;
    margin: 50px auto 0 auto;
    width: 79.6%;
    background:#fa2a2a;
    max-width: 350px;
    img{
        width: 100%;
        float: left;
    }
    .close{
        width: 20px;
        position: absolute;
        top: -9px;
        right: -5px;
    }
    .boxMain{
        text-align: center;
        float: left;
        width: 100%;
        padding-top: 20px;
        height: 109.5px;
        background:url(/images/giftBag.jpg) center bottom no-repeat;
        background-size: 100%;
        .get{
            padding: 2px 15px;
            background: #fbee1b;
            color: #c91f0a;
            font-weight: 600;
            font-size: .6rem;
            border-radius: 3px;
            box-shadow: 0 3px 5px #bf1812;
        }
    }
    .silver-main{
        padding-top: 0;
        height: auto;
        background:#fa2a2a;
        margin-bottom: 50px;
    }
    .silver-bg{
        height: 100%;
        margin: 0;
        padding-bottom: 48.5px;
        background: url(/images/giftBag.jpg) center bottom no-repeat;
        background-size: 100%;
        .list{
            padding: 0 10.5% 20px 8%;
            .item-input{
                color: #feb428;
                padding-left: 0;
                font-size: 12px;
                span{
                    width: 25%;
                }
                input{
                    background: #feb428;
                    height: 25px;
                }
            }
        }
    }
}
.bottom{
    bottom:130px
}
table{
    &.table-border{
        th{
            font-weight: bold;
        }
        td,th{
            padding: 0.2rem 0.4rem;
            border: 1px solid #d1d1d1;
            border-collapse: collapse;
        }
    }
}
.center{
    padding-top: 0;
}
.bg_center{
    background: url(/images/bg_center.jpg) center top no-repeat;
    background-size: 100% 100%;
    height: 145px;
    padding-left: 90px;
    padding-top: 30px;
    h2{
        font-size: 20px;
        color:#fff;
    }
    .vipLogo{
        width: 67.5px;
    }
}
.center-viwe {
    .item-icon-left{
        padding-left: 25px;
    }
    img{
        width: 32.5px;
        vertical-align: middle;
        margin-right: 20px;
    }
}
.border{
    border-top: 1px solid #ddd;
}
