body {
  color: #666;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.7rem; }
  body .name {
    color: 'red'; }

.text.red {
  color: red; }

.text.zb {
  font-size: 0.8rem; }

.text.fzb {
  font-size: 0.8rem;
  margin: 0 0.5rem; }

.text.green {
  color: green; }

.scroll-content {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #f1f1f1; }

h1, h2, h3, h4, h5 {
  margin: 0;
  line-height: 1.5;
  color: #666; }

h3 {
  font-size: .7rem;
  font-weight: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; }

.row.horizontal {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start; }
  .row.horizontal > .col {
    width: 33.33%;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem; }
  .row.horizontal:after {
    content: '';
    display: table;
    clear: both; }

.row {
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }
  .row + .row {
    margin-top: inherit;
    padding: inherit; }

.list:last-child.card {
  margin-bottom: 0; }

.card {
  margin-left: 0;
  margin-right: 0; }

.breed .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }

.footer-row {
  padding: 0; }
  .footer-row .col {
    padding: 0; }

.col {
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }
  .col.lg {
    width: 10rem; }

.list {
  margin-bottom: 0; }

.list-line {
  font-size: .7rem; }
  .list-line h4 {
    font-weight: normal;
    font-size: .7rem; }

.tag {
  font-size: .5rem;
  background-color: red;
  color: #fff;
  vertical-align: 10%;
  border-radius: 0.15rem;
  padding: 0 0.1rem;
  margin-right: 0.1rem;
  margin-left: 0.1rem;
  border: 1px solid red;
  font-weight: normal; }

.list-horizontal-block:after {
  clear: both;
  content: '';
  display: table; }

.list-horizontal-block li {
  float: left;
  display: inline-block;
  margin: 0.5rem;
  padding: 0.15rem 0.25rem; }

.list-horizontal-title {
  margin-top: 0.5rem;
  font-weight: 500;
  line-height: 2;
  border-bottom: 1px solid #EFEFEF; }

.data-views {
  background: url(/images/bg_datas.jpg) center center;
  background-size: 100% 100%; }
  .data-views .col-50 {
    padding: 20px; }
  .data-views.row {
    -webkit-box-align: start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start; }
  .data-views a {
    padding: 20px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #0284d0;
    color: #fff;
    border-radius: 5px; }
    .data-views a i {
      display: block;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      font-size: 60px; }

.dialog-feedBack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .dialog-feedBack:after {
    display: table;
    content: '';
    clear: both; }
  .dialog-feedBack img {
    width: 40px;
    border-radius: 50%;
    float: left; }
  .dialog-feedBack.left img {
    float: right;
    margin-right: 15px;
    margin-left: 10px; }
  .dialog-feedBack.left span:before {
    left: -8px;
    border-width: 4px 8px 4px 0px;
    border-color: transparent #fff transparent #fff; }
  .dialog-feedBack.right {
    text-align: right; }
    .dialog-feedBack.right img {
      float: left;
      margin-right: 10px;
      margin-left: 15px; }
    .dialog-feedBack.right span:before {
      right: -8px;
      border-width: 4px 0px 4px 8px;
      border-color: transparent #fff transparent #fff; }
  .dialog-feedBack .dialog-content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .dialog-feedBack .dialog-content span {
      text-align: left;
      background-color: #fff;
      border-radius: 8px;
      display: inline-block;
      padding: 8px;
      position: relative; }
      .dialog-feedBack .dialog-content span:before {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        content: '';
        border-style: solid;
        top: 50%;
        margin-top: -4px; }

.produce-header-tab button {
  text-align: center; }

.produce-cards {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
      align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #eee;
  padding: .3rem; }
  .produce-cards .col-50 {
    padding: .3rem; }
  .produce-cards h3 {
    padding: .3rem 0;
    height: 52px; }
  .produce-cards a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    padding: .5rem; }
  .produce-cards .produce-card-price {
    text-align: left;
    color: red; }
  .produce-cards .produce-card-footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: center;
    text-align: left;
    display: -webkit-flex;
    font-size: .6rem;
    color: #888; }
  .produce-cards .produce-card-icon {
    font-size: .5rem;
    background: #0894ec;
    padding: .2rem;
    color: #fff;
    font-weight: 600;
    border-radius: 5px; }

.free-views {
  overflow: auto; }
  .free-views img {
    float: left;
    width: 100%; }

.charge-views {
  overflow: auto;
  padding-bottom: 2.5rem; }

.charge-header {
  position: relative; }
  .charge-header img {
    width: 100%; }
  .charge-header .title-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    font-weight: 900;
    color: white;
    width: 100%;
    height: 42px;
    position: absolute;
    z-index: 1;
    bottom: 19px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .charge-header .title-bar .title-text {
      opacity: 1;
      line-height: 42px;
      margin-right: 10px;
      font-size: .8rem; }
    .charge-header .title-bar .title-logo {
      width: 1.8rem;
      height: 1.8rem; }

.charge-main .item {
  padding-left: 1.5rem;
  color: #0a8ddf;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.charge-main .item:before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  background: #0a8ddf;
  margin-right: 10px; }

.charge-main-p {
  text-indent: 25px;
  margin: 1em 0;
  padding: 0rem 1.5rem;
  line-height: 1.7;
  font-size: .75rem; }

.charge-main-content {
  font-size: .75rem;
  padding: .6rem 1.5rem 0 1.5rem; }
  .charge-main-content i {
    color: #0a8ddf;
    margin-right: 10px; }

.charge-footer {
  height: 2rem;
  line-height: 2rem; }
  .charge-footer a {
    display: block;
    font-size: .9rem;
    text-align: center;
    color: red;
    border: 2px solid red;
    background: #fff; }
  .charge-footer .buy {
    background: red;
    color: #fff; }

.drugContent-header {
  width: 59%;
  margin: 0 auto;
  margin-bottom: 9px; }
  .drugContent-header img {
    width: 100%;
    margin-top: 1.25rem; }

.drugContent-main {
  padding-left: 1.5rem; }

.drugContent-main-title {
  font-size: .80rem;
  font-weight: 600;
  margin: 5px 0;
  color: #0a8ddf; }

.message {
  line-height: 25px; }

.drugContent-main-btn {
  margin-top: 10px; }
  .drugContent-main-btn span {
    font-size: .7rem;
    color: white;
    padding: .3rem .4rem;
    font-weight: 800;
    border-radius: 5px;
    margin-right: 5px;
    background-color: #0a8ddf; }
