body {
  color: #666;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.7rem; }
  body .name {
    color: 'red'; }

.text.red {
  color: red; }

.text.zb {
  font-size: 0.8rem; }

.text.fzb {
  font-size: 0.8rem;
  margin: 0 0.5rem; }

.text.green {
  color: green; }

.scroll-content {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #f1f1f1; }

h1, h2, h3, h4, h5 {
  margin: 0;
  line-height: 1.5;
  color: #666; }

h3 {
  font-size: .7rem;
  font-weight: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; }

.row.horizontal {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start; }
  .row.horizontal > .col {
    width: 33.33%;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem; }
  .row.horizontal:after {
    content: '';
    display: table;
    clear: both; }

.row {
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }
  .row + .row {
    margin-top: inherit;
    padding: inherit; }

.list:last-child.card {
  margin-bottom: 0; }

.card {
  margin-left: 0;
  margin-right: 0; }

.breed .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }

.footer-row {
  padding: 0; }
  .footer-row .col {
    padding: 0; }

.col {
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }
  .col.lg {
    width: 10rem; }

.list {
  margin-bottom: 0; }

.list-line {
  font-size: .7rem; }
  .list-line h4 {
    font-weight: normal;
    font-size: .7rem; }

.tag {
  font-size: .5rem;
  background-color: red;
  color: #fff;
  vertical-align: 10%;
  border-radius: 0.15rem;
  padding: 0 0.1rem;
  margin-right: 0.1rem;
  margin-left: 0.1rem;
  border: 1px solid red;
  font-weight: normal; }

.list-horizontal-block:after {
  clear: both;
  content: '';
  display: table; }

.list-horizontal-block li {
  float: left;
  display: inline-block;
  margin: 0.5rem;
  padding: 0.15rem 0.25rem; }

.list-horizontal-title {
  margin-top: 0.5rem;
  font-weight: 500;
  line-height: 2;
  border-bottom: 1px solid #EFEFEF; }

.data-views {
  background: url(/images/bg_datas.jpg) center center;
  background-size: 100% 100%; }
  .data-views .col-50 {
    padding: 20px; }
  .data-views.row {
    -webkit-box-align: start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start; }
  .data-views a {
    padding: 20px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #0284d0;
    color: #fff;
    border-radius: 5px; }
    .data-views a i {
      display: block;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      font-size: 60px; }

.dialog-feedBack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .dialog-feedBack:after {
    display: table;
    content: '';
    clear: both; }
  .dialog-feedBack img {
    width: 40px;
    border-radius: 50%;
    float: left; }
  .dialog-feedBack.left img {
    float: right;
    margin-right: 15px;
    margin-left: 10px; }
  .dialog-feedBack.left span:before {
    left: -8px;
    border-width: 4px 8px 4px 0px;
    border-color: transparent #fff transparent #fff; }
  .dialog-feedBack.right {
    text-align: right; }
    .dialog-feedBack.right img {
      float: left;
      margin-right: 10px;
      margin-left: 15px; }
    .dialog-feedBack.right span:before {
      right: -8px;
      border-width: 4px 0px 4px 8px;
      border-color: transparent #fff transparent #fff; }
  .dialog-feedBack .dialog-content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .dialog-feedBack .dialog-content span {
      text-align: left;
      background-color: #fff;
      border-radius: 8px;
      display: inline-block;
      padding: 8px;
      position: relative; }
      .dialog-feedBack .dialog-content span:before {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        content: '';
        border-style: solid;
        top: 50%;
        margin-top: -4px; }
